<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joan Clarke</title>
</head>
<body>
    <h1>Joan Clarke: </h1>
    <img src="Joan clarke.jpg" alt="Imagen de Joan Clarke">
    <p>Clarke, por su trabajo durante la Segunda Guerra Mundial, obtuvo la Orden del Imperio Británico en 1947. Se trataba de una máquina electromecánica desarrollada por el ingeniero alemán Arthur Scherbius. Contaba con un sistema de mecanismo de cifrado rotatorio que servía tanto para cifrar como para descifrar mensajes.</p>
    <a href="/">Volver al inicio</a>
</body>
</html>