<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes Informaticos</title> <!--Este es un titulo en la pestaña-->
</head>
<body>
    <h1>Heroes de la informatica</h1>
    <h2>Babbage</h2>
    <a href="babbage"><img src="220px-CharlesBabbage.jpg" alt="" aling="left"></a>
    <span><h2>Lovelace</h2></span>
    <a href="lovelace"><img src="ada-lovelace-portrait_b0909676_550x789.jpg" height="300px" width="200px" alt="" aling="left"></a>
    <h2>Turing</h2>
    <a href="turing"><img src="Alan Turing.jpg" alt=""></a>
    <h2>Berners Lee</h2>
    <a href="berners-lee"><img src="berners-lee.jpg" alt=""></a>
    <h2>Joan Clarke</h2>
    <a href="clarke"><img src="Joan clarke.jpg" alt=""></a>
    <h2>Margaret Hamilton</h2>
    <a href="hamilton"><img src="Margaret Hamilton.jpg" alt="">    </a>
</body>
</html>